html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.bg-processor{
  background: url("../assets/processor.jpg");
  background-size: cover;
}
.bg1{
  background: url("../assets/bg1.jpg");
  background-size: cover;
}
.bg2{
  background: url("../assets/bg2.jpg");
  background-size: cover;
}
.bg3{
  background: url("../assets/bg3.jpg");
  background-size: cover;
}
.bg4{
  background: url("../assets/bg4.jpg");
  background-size: cover;
}
.bg5{
  background: url("../assets/bg5.jpg");
  background-size: cover;
}
.endLoseBg{
  background: url("../assets/endLoseBg.jpg");
  background-size: cover;
}
.endWinBg{
  background: url("../assets/endWinBg.jpg");
  background-size: cover;
}

.bg-grey-transluscent{
  background: rgba(71, 68, 68, 0.8);
}
.bg-red-transluscent{
  background: rgba(245, 0, 0, 0.8);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
